.white-background{
    -fx-background-color: '#fff';
}

.greenclaro-background{
    -fx-background-color: '#FFFBE6';
}

.green-background{
    -fx-background-color: '#347928';
}

.right-side-border{
    -fx-border-color: #6F6F6F;
    -fx-border-width: 0 1 0 0;
}

.search-container{
    -fx-border-color: #55ae46;
    -fx-border-radius: 10;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #000000;
    -fx-effect: null;
}

.menu-item:hover {
    -fx-background-color: green; /* Fundo verde ao passar o mouse */
    -fx-text-fill: white; /* Cor do texto ao passar o mouse */
}

.primary-color{
    -fx-background-color: #EFF2F6;
}

.card{
    -fx-background-color: #fff;
    -fx-background-radius: 10;
}

.card_dentrosearch{
    -fx-background-color: #55ae46;
    -fx-background-radius: 10;
}

.card2{
    -fx-background-color: #b60000;
    -fx-background-radius: 10;
}

.light-gray-background{
    -fx-background-color: #F3F3F3;
}

.card3-matricular{
    -fx-background-color: #49dd00;
    -fx-background-radius: 10;
}

.card4-pendentes{
    -fx-background-color: #dd5300;
    -fx-background-radius: 10;
}

.card4-matricular{
    -fx-background-color: #49dd00;
}

.text-search{
    -fx-prompt-text-fill: #FFF;
}

.background-faixaPlanos{
    -fx-background-color: #FCCD2A;
    -fx-background-radius: 10;
}

.color-textFaixaPlans{
    -fx-text-fill: #31511E;
}

.cardPlans{
    -fx-background-color: #FFF;
    -fx-background-radius: 10;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1),10.0 0 0 10.0);
}

.background-buttonPlan{
    -fx-background-color: #FCCD2A;
    -fx-background-radius: 50;
}
